# Do not publish source or test files
src/
coverage/
node_modules/
.vscode/
.idea/
jest.config.cjs
tsconfig.json
.prettierrc*
.eslintrc*
.gitignore
package-lock.json
*.log
jest.config.js
jest.config.cjs
